@using QPL.DAL.Entities.Concrete;
@{
    ViewBag.DetailedSearchActiveLink = "sidebar__link";
    ViewBag.ProductDefActiveLink = "sidebar__link";
    ViewBag.ManufacturerActiveLink = "sidebar__link";
    ViewBag.SearchActiveLink = "sidebar__link";
    ViewBag.DataLoadActiveLink = "sidebar__link";

    if (ViewData["DetailedCheck"] == "true")
    {
        ViewBag.DetailedSearchActiveLink = "sidebar__link active-link";
    }
    else if (ViewData["ManufacturerCheck"] == "true")
    {
        ViewBag.ManufacturerActiveLink = "sidebar__link active-link";
    }
    else if (ViewData["ProductDefinitionCheck"] == "true")
    {
        ViewBag.ProductDefActiveLink = "sidebar__link active-link";
    }
    else if (ViewData["SearchCheck"] == "true")
    {
        ViewBag.SearchActiveLink = "sidebar__link active-link";
    }
    else if (ViewData["DataLoadsCheck"] == "true")
    {
        ViewBag.DataLoadActiveLink = "sidebar__link active-link";
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== REMIXICONS ===============-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.4.0/remixicon.css" crossorigin="">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="~/dist/main.css" asp-append-version="true" />


    <title>QPL</title>
</head>

<body class="d-flex flex-column">
    @{
        bool AramaSatınAlmaHidden = !User.IsInRole(Roles.QPL_Arama.ToString());
        bool VeriGirisiHidden = !User.IsInRole(Roles.QPL_Veri_Girisi.ToString());
        bool UreticiVeriGirisiHidden = !User.IsInRole(Roles.QPL_Uretici_Girisi.ToString());
        bool QPLDetayliAramaHidden = !User.IsInRole(Roles.QPL_Detayli_Arama.ToString());
    }
    <!-- Sidebar bg -->
    @*    <img src="~/dist/img/sidebar-bg.jpg" alt="sidebar img" class="bg-image" />*@

    <!--=============== HEADER ===============-->
    <header class="header">
        <div class="header__container container-fluid">
            <div class="header__toggle" id="header-toggle">
                <i class="ri-menu-line" style="color:black"></i>
                <a class="" asp-controller="Account" asp-action="LoginWithMicrosoft" style="color: black;">QPL</a>
            </div>
        </div>
    </header>


    <!--=============== SIDEBAR ===============-->
    <div class="sidebar" id="sidebar">
        <nav class="sidebar__container">
            <div>
                <div class="sidebar__list">
                    <a  class=@ViewData["DetailedSearchActiveLink"] asp-action="Index" asp-controller="DetailedSearch">
                        <i class="ri-home-5-line"></i>
                        <span class="sidebar__link-name">QPL Detaylı Arama</span>
                        <span class="sidebar__link-floating">QPL Detaylı Arama</span>
                    </a>

                    <a  class=@ViewData["ProductDefActiveLink"] asp-action="Index" asp-controller="ProductDefinition">
                        <i class="ri-add-box-line"></i>
                        <span class="sidebar__link-name">QPL Veri Girişi</span>
                        <span class="sidebar__link-floating">QPL Veri Girişi</span>
                    </a>

                    <a  class=@ViewData["ManufacturerActiveLink"] asp-action="Index" asp-controller="Manufacturer">
                        <i class="ri-add-box-line"></i>
                        <span class="sidebar__link-name">QPL Üretici Listesi</span>
                        <span class="sidebar__link-floating">QPL Üretici Listesi</span>
                    </a>

                    <a  class=@ViewData["SearchActiveLink"] asp-action="Index" asp-controller="Search">
                        <i class="ri-compass-3-line"></i>
                        <span class="sidebar__link-name">QPL Arama</span>
                        <span class="sidebar__link-floating">QPL Arama (Satınalma)</span>
                    </a>
                </div>

                <h3 class="sidebar__title">
                    <span>Templates</span>
                </h3>

                <div class="sidebar__list">
                    <a href="#" class=@ViewData["DataLoadActiveLink"]>
                        <i class="ri-history-line"></i>
                        <span class="sidebar__link-name">Veri Yükleme Formatı</span>
                        <span class="sidebar__link-floating">Veri Yükleme Formatı</span>
                    </a>

                </div>

                <h3 class="sidebar__title">
                    <span>General</span>
                </h3>

                <div class="sidebar__list">
                    <a class="sidebar__link" asp-controller="Account" asp-action="Logout">
                        <i class="ri-logout-box-r-line"></i>
                        <span class="sidebar__link-name">Logout</span>
                        <span class="sidebar__link-floating">Logout</span>
                    </a>
                </div>
            </div>

            <div class="sidebar__account">
                <img src="~/dist/img/user-logo.png" alt="sidebar image" class="sidebar__perfil" />
                <div class="sidebar__names">
                @if (User.Identity.IsAuthenticated)
                {
                    <h3 class="sidebar__name">@User.FindFirst("name").Value</h3>
                    <span class="sidebar__email">@User.FindFirst("preferred_username").Value</span>
                }
                </div>

                <i class="ri-arrow-right-s-line"></i>
            </div>
        </nav>
    </div>


    <!--=============== MAIN ===============-->
    <main class="main" id="main" class="d-flex container-fluid pb-3 qpl-page" style="padding-top: 56px !important;">
        @RenderBody()
    </main>


    <!--=============== MAIN JS ===============-->
    <script src="~/dist/main.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>

