.qpl-page {
    .qpl-page-productDetail {
        background-color: black;
    }
}

.container {
    background-color: #f7f7f785; /* Arka plan rengi */
    padding: 20px; /* İstenilen boşluk değeri */
}